.abouts-container {
  position: relative;
  height: 550px;
  width: 100%;
  padding: 0;
  z-index: 0;
  margin: 0 auto;
}

.abouts-fir {
  height: 550px;
  background: #F2f2f2;
}

.abouts-fir h2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
}

.abouts-fir h4 {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

.abouts-fir img {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.abouts-fir p {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.abouts-sec {
  height: 550px;
  width: 100%;
  background: gray;
}