.landings-container {
  position: relative;
  height: 550px;
  width: 100%;
  padding: 0;
  z-index: 0;
  background: lightgray;
  top: 50px;
  margin: 0 auto;
}

/*Landings top section*/

.back-img {
  background-image: url("img/elderly1.jpeg");
  background-size: 100% 100%;
  height: 550px;
  width: 100%;
  opacity: 0.4;
}

#opener .cover {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "Conv_Gotham-Bold";
  display: block;
}

.cover h2 {
  padding-top: 90px;
  width: 90%;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 700;
}

.cover h3 {
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}

#secondary {
  background-color: #F8F4F3;
}

.sales-btn {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-bottom: 100px;
}

.sales-btn a:hover {
  background: #1c5380;
}

.sales-btn a {
  background-color: #3a4349;
  margin: 0 auto;
  display: block;
  width: 200px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: white;
  height: 60px;
  font-size: 16px;
  border: 1px solid white;
  line-height: 50px;
  transition: background .2s ease-in-out;
}

/*Landing middle section*/

.landings-mid {
  width: 90%;
  margin: 0 auto;
  height: 80%;
  position: relative;
  top: 10%;
  /*border: 1px black solid;*/
}

.mid-top {
  width: 100%;
  height: 30%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  text-align: center;
}

.mid-top h3 {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding-top: 35px;
}

.mid-btm {
  position: relative;
  top: 10%;
  width: 100%;
  height: 60%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.mid-btm img {
  width: 100%;
  height: 30%;
  border-radius: 0 0 12px 12px;
}

.mid-btm h3 {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}

/*Landing bottom section*/

#third {

}

#third img {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding-top: 35px;
}

.icon-container {
  padding-top: 40px;
  height: 100%;
  width: 100%;
}

#bbb-icon {
  height: 110px;
}

#c2-icon {
  position: relative;
  top: 20px;
}

#eql-icon {
  height: 200px;
  position: relative;
  top: 20px;
}

@media only screen and (min-width : 768px)  {
  .icon-col {
    width: 33%;
    display: inline-block;
  }
  #eql-icon {

  }
  #c2-icon {

  }
  #bbb-icon {

  }
  #third img {
    display: inline;
  }
  .icon-container {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}


@media only screen and (max-width : 768px)  {
  .icon-container {
    padding-top: 0;

  }
  .cover h2 {
    font-size: 35px;
  }
  .cover h3 {
    width: 80%;
  }
  .sales-btn {
    margin-bottom: 70px;
  }
  .mid-btm h3 {
    width: 90%;
    font-size: 20px;
    padding-top: 20px;
  }
}
