.sales-container {
  position: relative;
  height: 550px;
  width: 100%;
  padding: 0;
  z-index: 0;
  top: 50px;
  margin: 0 auto;
}

/*first section*/

.sales-fir {
  height: 550px;
  width: 100%;
  background: white;
}

.sales-fir h2 {
  text-align: center;
  padding-top: 60px;
  width: 90%;
  margin: 0 auto;
  color: #185ba0;
  font-weight: 700;
}

.sales-fir h4 {
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
}

.info-wrp {
  padding-top: 30px;
  display: block;
  width: 75%;
  margin: 0 auto;
  /*border: 1px black solid;*/
}

.email-form label {
  display: block;
  color: gray;
  padding-bottom: 8px;
}

.email-form input {
  display: block;
  border-radius: 5px;
}

.email-form input[type=text] {
  border: #eeeeee solid 2px;
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
}

.email-form input[type=submit] {
  width: 60%;
  text-align: left;
  background: #3a4349;
  color: white;
  border-style: none;
  padding: 10px;
  transition: background .2s ease-in-out;
}

.email-form input[type=submit]:hover {
  background: #1c5380;
}
.info-wrp a {
  position: relative;
  top: 18px;
  color: #1c5380;
  font-size: 30px;
  font-weight: 400;
}

/*Second section*/

.sales-sec {
  height: 550px;
  width: 100%;
  background: #F2f2f2;
}

.sales-back-img {
  /*background-image: url("img/rainbow.jpeg");*/
  background-size: 100% 100%;
  height: 550px;
  width: 100%;
  opacity: 0.4;
}

.sales-sec .cover {
  position: absolute;
  left: 0;
  top: 550px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Conv_Gotham-Bold";
  display: block;
}

.sales-sec h2 {
  text-align: center;
  padding-top: 60px;
  width: 90%;
  margin: 0 auto;
  color: #185ba0;
  font-weight: 700;
}

.sales-sec ul {
  padding-left: 20px;
}

.sales-sec li {
  width: 80%;
  font-size: 26px;
  text-align: left;
  margin: 0 auto;
  padding-top: 30px;
}

/*third section*/

.sales-trd {
  height: 550px;
  width: 100%;
  background: white;
}

.sales-trd h2 {
  text-align: center;
  padding-top: 80px;
  width: 90%;
  margin: 0 auto;

  font-weight: 700;
}

.email-wrp {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.email-wrp img {
  width: 180px;
  -webkit-animation: bounce 1s infinite;
}

.email-wrp:hover {
}

@keyframes bounce {
  0% { top: 0; }
  50% { transform: translateY(-25px); top: 140px; }
  100% { top: 0; }
}

@media only screen and (min-width : 768px) {
  .info-wrp a {
    position: relative;
    top: 60px;
  }
  .info-wrp {
    padding-top: 70px;
  }
  .sales-sec li {
    width: 80%;
    font-size: 46px;
  }
  .sales-fir h2 {
    font-size: 40px;
  }
  .sales-fir h4 {
    font-size: 25px;
  }
}