<template name="abouts">
  <div class="abouts-container">
    <div class="abouts-fir">
      <h2>David McGee</h2>
      <h4>Reverse Mortgage Specialist</h4>
      <img src="img/family-shot.jpg">
      <p>David McGee is a loan broker with over 20 years of experience in mortgage lending. David holds a B.A. in Psychology from University of California, San Diego and is a Ceritifed Senior Advisor.</p>
      <p>David lives in Carlsbad, CA with his wife Jackie and children Cullen, Chalice, and Max.</p>
    </div>
    <div class="abouts-sec">
      <h4>Call David today to discuss how a HECM reverse mortgage may help create your retirement safety net.</h4>
      <ul>
        <li>3478 Roosevelt St.</li>
        <li>Carlsbad, CA</li>
        <li>(760) 420-9662</li>
        <li>david@smartreverse.com</li>
        <li>NMLS# 1014800</li>
        <li>CA BRE Broker Lic# 01207722</li>
      </ul>
      <img src="img/smartreverselogo2.png">
    </div>
  </div>

<!-- footer -->
  <div class="row" id="footer">
    <a href="/">
      <div class="{{#if homeChecked}}checked{{/if}} col-md-4" id="footer-home">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </div>
    </a>
    <a href="/loans">
      <div class="{{#if loansChecked}}checked{{/if}} col-md-4" id="footer-loans">
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
      </div>
    </a>
    <a href="/about">
      <div class="{{#if aboutChecked}}checked{{/if}} col-md-4" id="footer-about">
        <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
      </div>
    </a>
  </div>
</template>