<template name="footer">
  <div class="row" id="footer">
    <a href="/">
      <div class="col-md-4" id="footer-home">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </div>
    </a>
    <a href="/loans">
      <div class="col-md-4" id="footer-loans">
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
      </div>
    </a>
    <a href="/about">
      <div class="col-md-4" id="footer-about">
        <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
      </div>
    </a>
  </div>
</template>




