<template name="sales">
  <div class="sales-container">
    <div class="sales-fir">
      <h2>Interested in Personal Reverse Mortgage Options?</h2>
      <h4>David may assess your individual financial situation and determine what options can strongly benefit your a secure retirement plan.</h4>
      <div class="info-wrp">
        <form class="email-form">
          <label>Email</label>
          <input type="text" placeholder="firstname.lastname@email.com" name="email">
          <input type="submit" value="Get Information">
        </form>
        <a href="#" class="phone-link">760.420.9662</a>
      </div>
    </div>
    <div class="sales-sec">
      <div class="sales-back-img"></div>
      <div class="cover">
        <h2>Why consider Reverse Mortgage options?</h2>
        <ul>
          <li>Generate a line of credit that keeps on growing.</li>
          <li>Access the funds you need without having to sell your home.</li>
        </ul>
      </div>
    </div>
    <div class="sales-trd">
      <h2>Send David an Email</h2>
      <div class="email-wrp">
        <a href="mailto:david@bluefriendly.com">
          <img src="img/mail.png">
        </a>
      </div>
    </div>
  </div>

<!-- footer -->
  <div class="row" id="footer">
    <a href="/">
      <div class="{{#if homeChecked}}checked{{/if}} col-md-4" id="footer-home">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </div>
    </a>
    <a href="/loans">
      <div class="{{#if loansChecked}}checked{{/if}} col-md-4" id="footer-loans">
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
      </div>
    </a>
    <a href="/about">
      <div class="{{#if aboutChecked}}checked{{/if}} col-md-4" id="footer-about">
        <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
      </div>
    </a>
  </div>
</template>